<div #searchContainer id="searchContainer" class="small" [@openCloseSearchForm]="isSearchContainerSmall ? 'close' : {value: 'open', params: {citiesCount: citiesCount}}">

  <button type="button" id="closeBtn" (click)="closeSearchForm()" [@showCloseBtn]="isSearchContainerSmall ? 'hide' : 'show'">
    <span class="material-icons">close</span>
  </button>

  <div class="searchForm"  (click)="openSearchForm()">
    <form (ngSubmit)="searchSubmit()" [formGroup]="searchForm">

      <div #location id="location" class="formField" (click)="toggleActive('location')">
        <div class="searchField">
          <span>LOCATION</span>
          <input class="inputSelect" type="text" placeholder="Pick a destination" formControlName="locationCity">
          <span id="cancelCity" class="material-icons" *ngIf="searchForm.controls['locationCity'].value !== ''" (click)="cancelCity()">cancel</span>
        </div>
        <div #locationDetails class="details">
            <li *ngFor="let item of listCities" (click)="chooseCity(item)"><span class="material-icons">place</span>{{ item }}</li>
        </div>
      </div>

      <div #guests id="guests" class="formField" (click)="toggleActive('guests')">
        <div class="searchField">
          <span>GUESTS</span>
          <input class="inputSelect" type="text" value="Add guests" readonly>
        </div>
        <div #guestsDetails class="details">
          <label for="adults">
            <span>Adults</span>
            <span>Ages 13 or above</span>
          </label>
          <div class="guestsAdults">
            <button type="button" class="plusminus" (click)="handleGuestsMinus('guestsAdults')">-</button>
            <input type="number" name="adults" class="num" min="1" formControlName="guestsAdults"/>
            <button type="button" class="plusminus" (click)="handleGuestsPlus('guestsAdults')">+</button>
          </div>
          <label for="children">
            <span>Children</span>
            <span>Ages 2-12</span>
          </label>
          <div class="guestsChildren">
            <button type="button" class="plusminus" (click)="handleGuestsMinus('guestsChildren')">-</button>
            <input type="number" name="children" class="num" min="0" formControlName="guestsChildren"/>
            <button type="button" class="plusminus" (click)="handleGuestsPlus('guestsChildren')">+</button>
          </div>
        </div>
      </div>

      <div *ngIf="isSearchContainerSmall"  class="searchBtn">
          <span class="material-icons-round pink">search</span>
      </div>
      <div *ngIf="!isSearchContainerSmall" class="searchBtn">
        <button type="submit" [disabled]="!searchForm.valid">
          <span class="material-icons-round">search</span>
          <span class="buttonText">Search</span>
        </button>
      </div>

    </form>
  </div>
</div>
