@import 'src/styles';

.detailsPage {
  padding: 50px 150px;
  font-size: 16px;
  position: relative;

  section {
    border-bottom: 1px solid #dfdfdf;
    padding: 50px 0;
  }

  section#images {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    height: 75vh;
    width: 100%;
    .mainImg {
      grid-area: 1 / 1 / 5 / 5;
      img {
        border-radius: 15px 0 0 15px;
      }
     }
    .randomImg0 { grid-area: 1 / 5 / 3 / 7; }
    .randomImg1 {
      grid-area: 1 / 7 / 3 / 9;
      img {
        border-radius: 0 15px 0 0;
      }
    }
    .randomImg2 { grid-area: 3 / 5 / 5 / 7; }
    .randomImg3 {
      grid-area: 3 / 7 / 5 / 9;
      img {
        border-radius: 0 0 15px 0;
      }
     }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  section#roomSection {
    display: flex;
    gap: 10px;
    .card {
      width: 150px;
      height: 110px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      border: 1px solid lightgrey;
      border-radius: 10px;

      span.icon {
        width: 40%;
        height: 100%;
        display: flex;
        align-items: center;
        font-size: 45px;
      }
      span.number {
        width: 60%;
        height: 60%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        font-size: 35px;
      }
      p {
        display: flex;
        width: 60%;
        height: 35%;
        justify-content: center;
        align-items: flex-start;
        font-size: 12px;
        line-height: 30px;
      }
    }
  }

  section#amenitiesSection {

    .fixPart {
      height: 250px;
      overflow: hidden;
    }
    ul {
      display: flex;
      flex-wrap: wrap;

      li {
        list-style: none;
        margin: 10px 0;
        width: 50%;
      }
    }

    button {
      cursor: pointer;
      padding: 10px 20px;
      margin-top: 25px;
      background: none;
      border: 1px solid black;
      border-radius: 8px;

      &:hover {
        background: lightgray;
      }
    }

    #modalAmenities {
      position: fixed;
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.3);
      .modalPart{
        width: 50vw;
        height: 80vh;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: white;
        box-shadow: 0 0 20px 0px grey;
        border-radius: 4%;
        padding: 40px;
        position: absolute;
        z-index: 1000;
        ul{
          margin: 10px 0;
          overflow: auto;
        }
        button {
          position: absolute;
          right: 40px;
        }
      }
    }
  }

  section#ratingSection {

    .globalRating {
      display: flex;
      align-items: center;
      margin-bottom: 30px;
      .star {
        font-size: 32px;
        width: 40px;
      }
      .globalRate {
        font-size: 24px;
        .dot {
          width: 6px;
          height: 6px;
          background: #333333;
          display: inline-block;
          border-radius: 50%;
          vertical-align: middle;
          margin: 0 7px;
        }
      }
    }
    .ratingDetails {
    display: flex;
    column-gap: 10%;
    row-gap: 15px;
    flex-wrap: wrap;

        .rating {
          display: flex;
          justify-content: space-between;
          width: 45%;
          span {
          display: inline-block;
        }
        .percentageBar {
          display: flex;
          align-items: center;
          .bar {
            width: 100px;
            height: 5px;
            background: lightgray;
            border-radius: 15px;
            .percentage {
              height: 5px;
              background: #333;
              border-radius: 15px;
            }
          }
          .rate {
            width: 40px;
            text-align: right;
          }
        }
      }
    }
  }

  #hostSection {
    display: flex;
    align-items: flex-start;

    .hostSummary {
      width: 50%;
      .hostPictureAndName {
        display: flex;
        align-items: center;
        column-gap: 15px;
        img {
          width: 55px;
          height: 55px;
          border-radius: 50%;
        }
        .name {
          span {
            color: grey;
            font-size: 14px;
          }
        }
      }
      .responseInfo {
        margin-left: 65px;
        margin-top: 10px ;
        span {
          display: inline-block;
          display: inline-block;
          width: 100%;
          margin: 10px 0;
        }
      }
    }

    .hostQuote {
      width: 50%;
      blockquote {
        position: relative;
        // text-indent: -0.85em;
        quotes: "“ " " ”" "‘ " " ’";
        font-style: italic;
        background: #f1f1f1;
        border-radius: 20px;
        line-height: 27px;
        padding: 25px 50px;
      }
      blockquote::before {
        content: open-quote;
        font-size: 90px;
        color: lightgray;
        position: absolute;
        left: -4px;
        top: 32px;
      }
      blockquote::after {
        content: close-quote;
        font-size: 90px;
        color: lightgray;
        position: absolute;
        right: 23px;
        bottom: -12px;
      }
    }
  }
}
