<ng-template #issue>Un problème est survenu</ng-template>

<div class="detailsPage" *ngIf="details$ | async as details;else issue">

  <section id="titleSection">
    <h1>{{details.record.fields.name}}</h1>
    <span class="type">{{details.record.fields.room_type == "Private room" ? "Chambre privée" : "Logement entier"}}</span>
    <div>
      <span>Chez {{details.record.fields.host_name}}</span>
    </div>
  </section>

  <section id="images">
    <div class="mainImg images">
      <img [src]="unsplashImage" alt="">
    </div>
    <!-- <img src="{{details.record.fields.medium_url}}" alt=""> -->
    <ng-container *ngIf="randomImages.length > 0">
      <div *ngFor="let imgUrl of randomImages.slice(0,4), let index = index" class="randomImg{{index}} images">
        <img [src]="imgUrl" alt="" >
      </div>
    </ng-container>

    <button *ngIf="randomImages.length > 4" class="showAllImages">
      <span class="material-icons-round">apps</span>
      Afficher toutes les photos
    </button>
  </section>

  <section id="summarySection">
    <p>{{details.record.fields.summary}}</p>
  </section>

  <section id="roomSection">
    <div class="accomodates card">
      <span class="material-icons-round icon">person</span>
      <span class="number">{{details.record.fields.accommodates}}</span>
      <p>personne<span *ngIf="details.record.fields.accommodates > 1">s</span></p>
    </div>
    <div class="beds card">
      <span class="material-icons-round icon">bed</span>
      <span class="number">{{details.record.fields.beds}}</span>
      <p>lit<span *ngIf="details.record.fields.beds > 1">s</span></p>
    </div>
    <div class="bedrooms card">
      <span class="material-icons-round icon">bedroom_parent</span>
      <span class="number">{{details.record.fields.bedrooms}}</span>
      <p>chambre<span *ngIf="details.record.fields.bedrooms > 1">s</span></p>
    </div>
    <div class="bathrooms card">
      <span class="material-icons-round icon">bathtub</span>
      <span class="number">{{details.record.fields.bathrooms}}</span>
      <p>salle<span *ngIf="details.record.fields.bathrooms > 1">s</span> de bain</p>
    </div>
  </section>

  <section id="amenitiesSection">
    <div class="fixPart">
      <h3>Ce que propose le logement</h3>
      <ul>
        <li *ngFor="let item of details.record.fields.amenities">
          <span *ngIf="!item.startsWith('translation missing:')">{{item}}</span>
        </li>
      </ul>
    </div>

    <button (click)="toggleShowAllAmenities()">Voir les {{details.record.fields.amenities.length}} équipements</button>

    <div id="modalAmenities" *ngIf="showAllAmenities">
      <div class="modalPart">
        <h3>Ce que propose le logement</h3>
        <ul>
          <li *ngFor="let amenity of details.record.fields.amenities">
            <span *ngIf="!amenity.startsWith('translation missing:')">
              {{amenity}}
            </span>
          </li>
        </ul>
        <button (click)="toggleShowAllAmenities()">Fermer</button>
      </div>
    </div>
  </section>

  <section id="ratingSection">
    <h3 class="globalRating">
      <span class="star material-icons-round">star_rate_rounded</span>
      <span class="globalRate">{{details.record.fields.review_scores_value / 2}} <span class="dot"></span> {{details.record.fields.number_of_reviews}} avis</span>
    </h3>

    <div class="ratingDetails">

      <div class="rating accuracy">
        <span class="text">Précision</span>
        <div class="percentageBar">
          <div class="bar">
            <div class="percentage" [ngStyle]="{width: (details.record.fields.review_scores_accuracy * 10) + 'px'}"></div>
          </div>
          <span class="rate">{{details.record.fields.review_scores_accuracy / 2}}</span>
      </div>
    </div>

    <div class="rating checkin">
      <span class="text">Arrivée</span>
      <div class="percentageBar">
        <div class="bar">
          <div class="percentage" [ngStyle]="{width: (details.record.fields.review_scores_checkin * 10) + 'px'}"></div>
        </div>
        <span class="rate">{{details.record.fields.review_scores_checkin / 2}}</span>
      </div>
    </div>

    <div class="rating cleanliness">
      <span class="text">Propreté</span>
      <div class="percentageBar">
        <div class="bar">
          <div class="percentage" [ngStyle]="{width: (details.record.fields.review_scores_cleanliness * 10) + 'px'}"></div>
        </div>
        <span class="rate">{{details.record.fields.review_scores_cleanliness / 2}}</span>
      </div>
    </div>

    <div class="rating communication">
      <span class="text">Communication</span>
      <div class="percentageBar">
        <div class="bar">
          <div class="percentage" [ngStyle]="{width: (details.record.fields.review_scores_communication * 10) + 'px'}"></div>
        </div>
        <span class="rate">{{details.record.fields.review_scores_communication / 2}}</span>
      </div>
    </div>

    <div class="rating location">
      <span class="text">Emplacement</span>
      <div class="percentageBar">
        <div class="bar">
          <div class="percentage" [ngStyle]="{width: (details.record.fields.review_scores_location * 10) + 'px'}"></div>
        </div>
        <span class="rate">{{details.record.fields.review_scores_location /2}}</span>
      </div>
    </div>

    <div class="rating value">
      <span class="text">Qualité-prix</span>
      <div class="percentageBar">
        <div class="bar">
          <div class="percentage" [ngStyle]="{width: (details.record.fields.review_scores_value * 10) + 'px'}"></div>
        </div>
        <span class="rate">{{details.record.fields.review_scores_value / 2}}</span>
      </div>
    </div>
  </div>
  </section>

  <section id="mapSection">
    <h3>Où se situe le logement</h3>

    <app-map [mapCenterCoordinates] = "[details.record.fields.geolocation.lon, details.record.fields.geolocation.lat]" [mapZoom] = "14" [accCoordinates] = "[details.record.fields.geolocation.lon, details.record.fields.geolocation.lat]"></app-map>

    <!-- <app-map [mapZoom] = "10"></app-map> -->
  </section>

  <section id="hostSection">

    <div class="hostSummary">
      <div class="hostPictureAndName">
        <img #image (error)="image.hidden = true" [src]="details.record.fields.host_thumbnail_url" alt="" class="hostPicture">
        <img *ngIf="image.hidden" src="https://a0.muscache.com/defaults/user_pic-50x50.png?v=2" alt="" class="hostPicture">
        <div class="name">
          <h3 class="hostName">Proposé par {{details.record.fields.host_name}}</h3>
          <span>Hôte depuis {{details.record.fields.host_since.substring(0,4)}}</span>
        </div>
      </div>
      <div class="responseInfo">
        <span>Taux de réponse : {{details.record.fields.host_response_rate}} %</span>
        <span>Délai de réponse : {{details.record.fields.host_response_time}}</span>
      </div>
    </div>

    <div class="hostQuote"><blockquote *ngIf="details.record.fields.host_about">{{details.record.fields.host_about}}</blockquote></div>
  </section>

</div>
