<div class="list">

  <div class="homeList" #homeList>
    <button *ngIf="listOrMap == 'list'" class="toggleMap" type="button" (click)="toggleTo('map')">
      Show on map <span class="material-icons-outlined">map</span>
    </button>
    <div *ngFor="let item of apiList, let index = index">
      <app-card-accomodation [dataForCard]="item.record" [unsplashImage]="imagesUrl[index]" [indexImage]="index">

      </app-card-accomodation>
    </div>
  </div>



  <!-- <div id="mapbox" #mapbox>
    <button *ngIf="listOrMap == 'map'" class="toggleMap" type="button" (click)="toggleTo('list')">
      Show the list <span class="material-icons">list</span>
    </button>
  </div> -->

  <div class="mapbox" #mapbox *ngIf="apiList">
    <app-map [mapCenterCoordinates] = "[2.344075261837547, 48.857990087246385]" [mapZoom] = "11" [records] = "apiList"></app-map>

    <button *ngIf="listOrMap == 'map'" class="toggleMap" type="button" (click)="toggleTo('list')">
      Show the list <span class="material-icons">list</span>
    </button>
  </div>



</div>
