<div class="list">

  <div class="homeList" #homeList>
    <div class="homeItem" *ngFor="let item of list">
      <img [src]="item.photo" alt="picture of the home">
      <div class="details">
        <span *ngIf="item.superHost" class="superhost">SUPER HOST</span>
        <span class="type">{{ item.type }}{{ item.beds ? " . " + item.beds + " beds" : "" }}</span>
        <div class="rating">
          <span class="material-icons-round pink">star_rate_rounded</span>
          <span class="rate">{{ item.rating }}</span>
        </div>
      </div>
      <h4>{{ item.title }}</h4>
    </div>
    <button *ngIf="listOrMap == 'list'" class="toggleMap" type="button" (click)="toggleTo('map')">
      Show on map <span class="material-icons-outlined">map</span>
    </button>
  </div>


  <div id="mapbox" #mapbox>
    <button *ngIf="listOrMap == 'map'" class="toggleMap" type="button" (click)="toggleTo('list')">
      Show the list <span class="material-icons">list</span>
    </button>
  </div>

</div>
